POSTGRES_USERNAME=deckel
POSTGRES_PASSWORD=deckel
POSTGRES_DATABASE=deckel

OAUTH2_PROXY_PROVIDER=keycloak
OAUTH2_PROXY_CLIENT_ID=
OAUTH2_PROXY_CLIENT_SECRET=
OAUTH2_PROXY_OIDC_ISSUER_URL=
OAUTH2_PROXY_COOKIE_SECRET=super-secret-32-character-string