{{define "transaction-list"}}
<div class="overflow-x-auto">
    <table class="table table-zebra w-full">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Beschreibung</th>
                <th class="text-right">Menge</th>
                <th class="text-right">Betrag</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{$cancelMin := .CancellationMinutes}}
            {{$csrf := .CSRFToken}}
            {{$currentUserID := .User.ID}}
            {{range .Transactions}}
            {{template "transaction-row" (map "Tx" . "CancellationMinutes" $cancelMin "CSRFToken" $csrf "CurrentUserID" $currentUserID)}}
            {{end}}
            {{if not .Transactions}}
            <tr>
                <td colspan="5" class="text-center text-base-content/60 py-8">Keine Transaktionen vorhanden.</td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>

{{if gt .TotalPages 1}}
{{template "pagination" (map "Page" .Page "TotalPages" .TotalPages "Target" "#transaction-list" "BaseURL" "/transactions")}}
{{end}}
{{end}}
