{{define "content"}}
<h1 class="text-2xl font-bold mb-4">Getränkekarte</h1>

{{if .IsBlocked}}
<div class="alert alert-info mb-6">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span>Du hast dein Ausgabelimit erreicht. Bitte zahle bei einem Admin ein.</span>
</div>
{{end}}

<div id="menu-categories">
    {{template "menu-categories" .}}
</div>
{{end}}
