{{define "user-list"}}
{{$currentUserID := .User.ID}}
<div class="overflow-x-auto">
    <table class="table table-zebra w-full">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th class="text-right">Guthaben</th>
                <th>Status</th>
                <th>Aktiv</th>
                <th>Limit-Override</th>
                <th>Aktionen</th>
            </tr>
        </thead>
        <tbody>
            {{range .Users}}
            {{template "user-row" (map "User" . "CurrentUserID" $currentUserID)}}
            {{end}}
        </tbody>
    </table>

    {{if gt .TotalPages 1}}
    {{template "pagination" (map "Page" .Page "TotalPages" .TotalPages "Target" "#user-list" "BaseURL" "/admin/users")}}
    {{end}}
</div>
{{end}}
